<h4>{{ location }}</h4>
<div style="display: flex">
  <img src="{{ icon }}"/>
	<p>{{ temperature }}°C</p>
	<p style="font-style: italic; padding-left: 2px">Feels like {{ feels_like }}°C</p>
</div>
<p>Wind: {{ wind }} km/h</p>
</p>Precipitation: {{ precipitation }} mm</p>
